<!--search.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo4j Search</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <style>
        #symptoms, #targetClasses {
            width: 300px;
        }
    </style>
</head>
<body>
    <h1>Multi-keyword-search</h1>
    <form id="searchForm" action="result.html" method="GET">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter Name">
        <br><br>

        <label for="id">ID:</label>
        <input type="text" id="id" name="patient_id" placeholder="Enter ID">
        <br><br>

        <label for="bodypart">Body Part:</label>
        <select id="bodypart" name = "bodypart">
        <!-- Add more body part options as needed -->
            <option value="" selected disabled>Select Body Part</option>
            <option value="">Don't select</option>
            <option value="Breast">Breast</option>
            <option value="Wrist">Wrist</option>
            <option value="Herniated_Disc">Herniated Disc</option>
            <option value="Stomach">Stomach</option>
            <option value="Ovaries">Ovaries</option>
            <option value="Shoulder">Shoulder</option>
            <option value="Esophagus">Esophagus</option>
            <option value="Brain">Brain</option>
            <option value="Lung">Lung</option>
            <option value="Knee">Knee</option>
            <option value="Leg">Leg</option>
            <option value="Arm">Arm</option>
            <option value="Head">Head</option>
            <option value="BloodSystem">Blood System</option>
            <option value="Heart">Heart</option>
            <option value="Thyroid">Thyroid</option>
            <option value="Testicles">Testicles</option>
            <option value="Bladder">Bladder</option>
            <option value="Kidney">Kidney</option>
            <option value="Pancreas">Pancreas</option>
            <option value="Liver">Liver</option>
            <option value="Rib">Rib</option>
            <option value="Ankle">Ankle</option>
            <option value="Elbow">Rib</option>
            <option value="Spine">Spine</option>
        </select>
        <br><br>

        <label for="symptoms">Symptoms:</label>
        <select id="symptoms" name="symptoms" multiple="multiple">
            <option></option> 
            <option value="">Don't select</option> 
            <option value="Pain">Pain</option>
            <option value="Bone_Protruding">Bone Protruding</option>
            <option value="Ache_Pain">Ache Pain</option>
            <option value="Neurological">Neurological</option>
            <option value="Fatigue">Fatigue</option>
            <option value="Headache">Headache</option>
            <option value="Breathing_Difficulties">Breathing Difficulties</option>
            <option value="Skin_Changes">Skin Changes</option>
            <option value="Nausea">Nausea</option>
            <option value="Changes_In_Urination">Changes in Urination</option>
            <option value="Changes_In_Vision">Changes in Vision</option>
            <option value="Fever">Fever</option>
            <option value="Swelling">Swelling</option>
            <option value="Limited_Mobility">Limited Mobility</option>
            <option value="Cough">Cough</option>
            <option value="Vomiting">Vomiting</option>
            <option value="Blood_In_Urine">Blood in Your Urine</option>
            <option value="Problems_With_Movement">Problems with Movement</option>
            <option value="Speech_Difficulty">Speech Difficulty</option>
            <option value="Dizziness">Dizziness</option>
            <option value="Bone_Spurs">Bone Spurs</option>
            <option value="Loss_of_Flexibility">Loss of Flexibility</option>
            <option value="Crepitus">Crepitus</option>
            <option value="Muscle_Weakness">Muscle Weakness</option>
            <option value="Weight_Loss">Weight Loss</option>
            <option value="Night_Sweats">Night Sweats</option>
        </select>

        <label for="disease">Disease:</label>
        <select id="disease" name="disease">
            <option value="" selected disabled>Select a disease</option>
            <option value="">Don't select</option> 
            <option value="Cancer">Cancer</option>
            <option value="Bone_Fractures">Bone Fractures</option>
            <option value="Pneumonia">Pneumonia</option>
            <option value="Kidney_Stones">Kidney Stones</option>
            <option value="Head_Trauma">Head Trauma</option>
            <option value="Osteoarthritis">Osteoarthritis</option>
            <option value="Spinal_Disc_Herniation">Spinal Disc Herniation</option>
            <option value="Osteoporosis">Osteoporosis</option>
            <option value="Tuberculosis">Tuberculosis</option>
            <option value="Traumatic_Injuries">Traumatic Injuries</option>
            <option value="Appendicitis">Appendicitis</option>
            <option value="Blood_Clots">Blood Clots</option>
            <option value="Abdominal_Tumors">Abdominal Tumors</option>
            <option value="Spinal_Cord_Injuries">Spinal Cord Injuries</option>
            <option value="Stroke">Stroke</option>
            <option value="Joint_Injuries">Joint Injuries</option>
        </select>
        <br><br>

        <label for="targetClasses">Target Classes:</label><br>
            <div id="targetClasses">
                <button type="button" id="selectAll">Select All</button>
            <div></div>
            <input type="checkbox" id="xray" name="targetClasses" value="X_ray">
            <label for="xray">X-ray</label><br>

            <input type="checkbox" id="ct" name="targetClasses" value="CT">
            <label for="ct">CT</label><br>

            <input type="checkbox" id="mri" name="targetClasses" value="MRI">
            <label for="mri">MRI</label><br>

            <input type="checkbox" id="dsi" name="targetClasses" value="DSI">
            <label for="dsi">DSI</label><br>

            <input type="checkbox" id="us" name="targetClasses" value="US">
            <label for="us">US</label><br>
            </div>
        <button type="submit">Search</button>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        <script src="/path/to/your/result.js"></script>
        <script>
        $(document).ready(function() {
                    $('#symptoms').select2({
                        placeholder: "Select symptoms", // This sets the placeholder
                        allowClear: true, // This allows a clear button to appear
                        multiple: true,
                        tags: true,
                        tokenSeparators: [',']
                });
        
                // Form submission handler
                $('#searchForm').on('submit', function(event) {
                    event.preventDefault();
                    const formData = {
                        name: $('#name').val(),
                        patient_id: $('#id').val(),
                        bodypart: $('#bodypart').val(),
                        disease: $('#disease').val(),
                        symptoms: $('#symptoms').val() || [],
                        targetClasses: []
                    };
                    $('#selectAll').click(function() {
                    $('#targetClasses input[type="checkbox"]').prop('checked', true);
                    });
        
                    // Get the values of checked targetClasses checkboxes
                    $('input[name="targetClasses"]:checked').each(function() {
                        formData.targetClasses.push(this.value);
                    });
        
                    // Filter out empty or null values
                    const searchData = Object.fromEntries(Object.entries(formData).filter(([_, v]) => v));
        
                    // Redirect to the results page with query parameters
                    const searchParams = new URLSearchParams(searchData).toString();
                    // Redirect to the results page with query parameters
                    window.location.href = `/result?${searchParams}`;

                });
            });
            

        </script>
        <script src="{{ url_for('static', filename='js/result.js') }}"></script>

</body>
</html>